@import '../../utils/mixins';

.guides {
  padding: 100px 0 150px;
  min-height: unset !important;

  
  .section-title {
    left: -100px;
  }

  @media screen and (max-width: 900px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0 100px;

    .section-title {
      left: unset;
      margin-bottom: 40px;
    }
  }

  .guides__slider {
    max-width: 100%;
    box-sizing: border-box;
    padding: 50px 0 0 !important;

    .swiper-button-prev {
      top: 10px;
      left: unset;
      right:  70px;
  
      &::after {
        z-index: 6;
         content: url(../../assets/icons/arrow-left.svg); 
      }
    }
  
  
    .swiper-button-next {
      top: 10px;
      right:  10px;
  
      &::after {
        content: url(../../assets/icons/arrow-right.svg); 
        z-index: 6;
      }
    }

    .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
      background: white;

      &.swiper-pagination-bullet-active {
        background: #FF0726;
      }
    }
  }

  .guides__card {
    display: flex;
    flex-direction: row;
    gap: 20px;
    min-height: 400px;

    @media screen and (max-width: 900px) {
     display: flex;
     flex-direction: column;
     max-width: 100vw;
    }  
  }


  .guides__img {
    padding: 30px;
    min-width: 480px;
    max-height: 90%;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;

     @media screen and (max-width: 900px) {
      max-width: 100vw;
      min-width: unset;
     }  

     .guides__img-container {
      width: 227px;
      height: 100%;
      position: relative;

      
      @media screen and (max-width: 900px) {
        width: 200px;
        height: 300px;
      }

      @media screen and (max-width: 600px) {
        width: 150px;
        height: 250px;
      }
   
      img {
        max-width: 100%;
        border: 1px solid rgba(115, 115, 115, 0.23);
        min-height: 100%;
        object-fit: cover;
        object-position: center;
        position: absolute;
        transform: matrix(0.98, -0.19, 0.21, 0.98, 0, 0);
        z-index: 10;
        box-shadow: 0px 14px 34px #0322411f;

        &:nth-of-type(2) {
          transform: matrix(0.94, -0.34, 0.37, 0.93, 0, 0);
          z-index: 8;
        }
        &:nth-of-type(3) {
          transform: matrix(0.88, -0.48, 0.52, 0.86, 0, 0);
          z-index: 7;
        }
      }
     }
  }


  .guides__info {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    max-width: 479px;

    @media screen and (max-width: 900px) {
      max-width: unset;
      row-gap: 20px;
    }

    .guides__title {
      margin-bottom: 10px;
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 44px;
      letter-spacing: 0.01em;
      margin: 0;

      @media screen and (max-width: 900px) {
        font-size: 24px;
        line-height: 28px;
      }
    }

    .guides__text {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      row-gap: 16px;
    }

    .guides__button {
      @include button;
      padding: 20px;
    }

  }
}

