
.app {
  main {
    position: relative;
  }

  background-image: url(../../assets/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;

  &.app_hidden {
    display: none;
  }
}