.about {
  background-image: url(../../assets/photo/about-photo.png);
  background-size: contain ;
  background-repeat: no-repeat;
  background-position: left;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 200px 0 170px;
  margin-bottom: 30px;

  .about__info {
    display: flex;
    flex-direction: column;
    row-gap: 70px;
    max-width: 479px;

    @media screen and (max-width: 900px) {
      row-gap: 120px;
      justify-content: space-between;
    }

    .about__title {
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 44px;
      letter-spacing: 0.01em;
      margin: 0;

      @media screen and (max-width: 900px) {
        font-size: 24px;
        line-height: 32px;
        margin-top: 40px;
      }
    }

    .about__text {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      row-gap: 16px;

      @media screen and (max-width: 900px) {
        display: block;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.15);
      }
    }
  }

  .section-title {
    left: -145px;
  }

  @media screen and (max-width: 900px) {
    flex-direction: column;
    padding: 60px 0 40px;
    margin-bottom: 20px;
    background-position: 40px 90% ;
    background-size: 140%;
    min-height:  80vh;
    justify-content: flex-start;

    .section-title {
      left: unset;
    }
  }
}