.about {
  background-image: url(../../assets/photo/about-photo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .about__info {
    display: flex;
    flex-direction: column;
    row-gap: 70px;
    max-width: 479px;

    .about__title {
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 44px;
      letter-spacing: 0.01em;
    }

    .about__text {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      row-gap: 16px;
    }
  }
}