@import '../../utils/mixins';

.concerts {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  min-height: 60vh;
  
  padding: 150px 214px 100px;

  .section-title {
    left: -160px;
  }

  @media screen and (max-width: 1200px) {
    padding: 150px 80px 100px;
  }

  @media screen and (max-width: 900px) {
    padding: 80px 0 60px;
    row-gap: 60px;

    .section-title {
      left: unset;
    }
  }
}



.concerts__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;  
  gap: 30px;
  margin: 0 auto;
  padding: 0;

  @media screen and (max-width: 1200px) {
    gap: 20px;
  }

  @media screen and (max-width: 900px) {
    grid-template-columns: 1fr;
  }

  .concerts__card {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    
    border-top: 1px solid rgba(209, 213, 219, 0.15);
    border-bottom: 1px solid rgba(209, 213, 219, 0.15);
    backdrop-filter: blur(16px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    box-sizing: border-box;
    padding: 15px 35px;
    @media screen and (max-width: 900px) {
      row-gap: 20px;
    }


    .concerts__card-block {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      min-height: 58px;

      @media screen and (max-width: 1000px) {
        flex-direction: column;
        row-gap: 8px;
      }
    }

    .concerts__city {
      margin: 0;
      font-weight: 800;
      font-size: 24px;
      line-height: 29px;
      text-transform: uppercase;

      @media screen and (max-width: 900px) {
        text-align: center;
      }
    }

    .concerts__date {
      display: flex;
      flex-direction: row;
      align-items: flex-start;

      .concertst__day {
        font-weight: 800;
        font-size: 24px;
        line-height: 29px;
        text-transform: uppercase;
        margin-right: 8px;
      }

      .concertst__mounth {
        font-weight: 500;
        font-size: 18px;
        line-height: 29px;
        text-transform: capitalize;
        color: rgba(255, 255, 255, 0.6);
      }
    }

    .concerts__info {
      display: flex;
      flex-direction: column;
      row-gap: 8px;
      p {
        margin: 0;
        color: rgba(255, 255, 255, 0.6);
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        text-transform: capitalize;
        @media screen and (max-width: 900px) {
          text-align: center;
        }
      }

      @media screen and (max-width: 900px) {
        align-items: center;
      }
    }

    .concerts__link {
      @include transition(all);
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      padding: 4px 12px;
      border-radius: 5px;
      border: 1px solid rgba(255, 255, 255, 0.6);
      color: rgba(255, 255, 255, 0.6);
      text-decoration: none;
      max-height: 30px;
      max-width: 94px;

      &:hover {
        color: #FF0726;
        border-color: #FF0726;
      }

      @media screen and (max-width: 900px) {
        margin-top: 8px;
      }

    }
  }
}

.concert__link {
  color: white;
  font-size: 16px;
  line-height: 20px;
  @include transition(opacity);

  &.concert__link_hidden {
    display: none;
  }

  &:hover {
    opacity: 0.6;
  }
}